name: "Acme.sh for Home Assistant"
description: "ACME client to generate and renew SSL Certificates"
version: "1.0.0"
slug: "acme_sh"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386